body {
    box-sizing: border-box;
    text-align: center;
}

.mainScreen {
    width: 1000px;
    height: 560px;
    border: 2px solid black;
    background-image: url('/Images/main-screen-back.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#mainTitle {
    padding-top: 98px;
    font-family: 'Nanum Brush Script', cursive;
    font-size:  100px;
    color:#ffd4d4;
    margin-bottom: 0px;
}

#instructions {
    color : #ffd4d4;
    font-weight: 800;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
    margin-top: 0px;
}

#start {
position: absolute;
font-family: 'Nanum Brush Script', cursive;
font-size: 20px;
left: 421px;
top: 480px;
border-radius: 32px;
background-color: #ffd4d4;
}

#sound {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
    border-radius: 32px;
    background-color: #ffd4d4;
    position: absolute;
    top: 20px;
    left: 790px;
}

.gameOverScreen {
    border: 2px solid black;
    width: 1000px;
    height: 500px;
    background-image: url('./Images/gameoverback.jpg');
    background-position: center;
    background-size:  100%;
    background-repeat: no-repeat;
}
#gameOverTitle {
    position: relative;
    font-family: 'Nanum Brush Script', cursive;
    font-size:  100px;
    color:darkred;
    margin-bottom: 0px;
}
#gameOverText {
    font-family: 'Nanum Brush Script', cursive;
    color:white;
    font-size: 20px;
    font-weight: 800;
}
#restart {
font-family: 'Nanum Brush Script', cursive;
font-size: 20px;
border-radius: 32px;
background-color: darkred;
color: white;
}
.winningScreen {

    width: 1000px;
    height: 500px;
    border: 2px solid black;
    background-image: url('/Images/winningScreen.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#winningTitle {
    font-family: 'Nanum Brush Script', cursive;
    position: relative;
    font-size:  100px;
    color: #fcdcf9;
    margin-bottom: 0px;
    margin-top: 95px;
}

#winText {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
    font-weight: 800;
    color : #fcdcf9;
    margin-top: 0px;

}

#imageWin {
    position: relative;
    margin-left:  350px;
}
#restart2 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
    border-radius: 32px;
    background-color: #ffd4d4;
}
.redButton {
    background-color: darkred;
}
